*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

body{
    font-family: "Helvetica Neue", sans-serif;
    margin: 25px;
}
.calculator{
    background: black;
    width: 563px;
    height: 1218px;
    border-radius: 50px;
    color: white;
    padding: 20px;
}

.top-container{
    padding: 0 20px;
    height: 250px;
    display: flex;
    justify-content: space-between;
}

.display{
    font-size: 130px;
    font-weight: 300;
    margin-bottom: 20px;
    height: 158px;
    text-align: right;
    margin-right: 20px;
}